@charset "utf-8";
/* CSS Document */
	body,p,ol,ul,li,h1,h2,h3,h4,h5,h6,form,table,td,th,dl,dt,dd,fieldset,legend,input{
		margin:0;
		padding:0;
	}
	a{
		text-decoration: none;
	}
	ul{
		list-style: none;
	}

/* header */		
	.header{
		height:64px;
		position: fixed;
		z-index: 10;
		width:100%;
		background:white;
	}
	.header_left{
		height:64px;
		float:left;
		padding-left:40px;
		margin-right:250px;
	}
	.header_left_img{
		float:left;
		width:141px;
		height:64px;
		padding-top: 15px;
		padding-right:50px ;
	}
	.header_left_wz{
		height:64px;
		float:left;
	}
	.header_left_wz a{
		font-size:14px;
		color:#757575;
		line-height: 64px;
		margin-left:40px;
	}
	.header_left_wz a:hover{
		color:#a1cdca; 
	}
	.header_left_wz a:nth-child(6){
		margin-right:33px;
		font-weight:900 ;
		color:#292929;
	}
	.header_right{
		width: 180px;
		height:50px;
		float: right;
		margin-top:10px;
	}
	.header_right a{
		margin-right:5px;
	}

	.header_right a:hover{
		color:#a1cdca;
	}
	.header_img{
		margin-top: 23px;
		float: left;
		width: 25px;
		height: 25px;
		margin-right: 40px;
	}
	.header_right_img{
		width: 20px;
		height:20px;
		margin-right: 10px;
	}
	.header_right_img2{
		width: 20px;
		height:20px;
		display: none;
		margin-right: 10px;
	}
	
    .search{
    	background: url(../img4/2.png);
    	width:302px;
    	height:83px;
    	position: absolute;
    	left:895px;
    	display: none;
    	box-shadow:3px 3px 5px #ababaa;
    	margin-top:45px;
    }
   	#search_1{
		width: 224px;
		height:38px;
		border: 1px solid #e1e1e1;
		margin-left:16px;
		margin-top:24px;
		float: left;
    }
   	.search .search_img{
		margin-top:24px;
    }
    .header_mine{
    	width:150px;
    	height:180px;
    	margin-right:20px;
    	display: none;
    	background:#f1f1ef;
    }
    .header_mine a{
    	display: block;
    	line-height: 35px;
    	color:black;
    }



 /* nav 上边栏 */

	.nav{
		width: 100%;
		height:72px;
		background:#f7f7f5;
		padding-top:86px;
	}
	.nav_wz{
		width:1204px;
		height:72px;
		background:#f7f7f5;
		margin:0 auto;
	}
	.nav_wz a{
		line-height: 72px;
		color: #333333;
	}
	.nav_wz a:nth-child(3){
		color:gray;
	}
	.nav_wz a:hover{
		color: #a1cdca;
	}



/* content 主题  */

	.content{
		width:100%;
		height: 571px;
	}
	.content_1{
		width: 1100px;
		height: 521px;
		padding-top: 50px;
		margin-right: 69px;
		margin:0 auto;
	}

	.content_left{
		width: 397px;
		height: 521px;
		float: left;
	}
	.content_left_top{
		width:395px;
		height:400px;
	}
	.content_left_top img{
		width:395px;
		height:400px;
	}
	.content_left_bottom{
		width:397px;
		height:100px;
		margin-top: 21px;
		padding-left:5px;
	}
	.content_left_bottom img{
		width: 93px;
		height:93px;
		float:left;
		margin-right:5px;
	}

	.content_right{
		width: 650px;
		height: 521px;
		float:right;
	}

	.content_right h3{
		font-size:34px;
		color:#00004f ;
		margin-bottom:20px;
	}
	.content_right p{
		color:red;
		margin-bottom:22px;
		font-size: 14px;
	}
	.content_right h4{
		color:red;
		margin-bottom:19px;
		font-size: 14px;
	}
	.content_right ul li{
		line-height:30px;
		color: #696969;
		font-size: 14px;
	}
	
	.number{
		width: 263px;
		height:43px;
		margin-top:50px;
	}
	.number input{
		width:124px;
		height:39px;
		border: 2px solid #e1e1e1;
		text-align: center;
		float:left;
	}
	.number a span{
		width: 110px;
		height:43px;
		background: red;
		display:block;
		float: right;
	}
	.number a{
		color: white;
		text-align: center;
		line-height: 43px;
	}

	.content_right h6{
		color: #7d7d7d;
		font-size: 14px;
		margin-top: 38px;
	}
	.content_right h6 a{
		color: red;
	}



	/* serve 服务 */
	.serve{
		width: 100%;
		height:152px;
		border-bottom: 1px solid #e1e1e1;
		padding-top:48px;
	}
	.serve_img{
		background: url(../img4/12.png);
		width: 1216px;
		height:104px;
		margin:0 auto;
	}

/* introduce  介绍 */ 

	.introduce{
		width:100%;
		height:280px;
		border-bottom: 1px solid #e8e8e8 ;
		padding-top: 54px;
	}
	.introduce_box{
		width:1140px;
		height:218px;
		margin:0 auto;
		position: relative;
	}
	.introduce_box_left{
		width:908px;
		height:218px;
		float: left;
	}
	.introduce_box_left ul{
		float: left;
		margin-right: 160px;
	}
	.introduce_box_left ul li{
		line-height: 48px; 
	}
	.introduce_box_left ul li:nth-child(1){
		font-size: 16px;
		color:#5a5d64;
		line-height: 35px;
	}
	
	.introduce_box_left ul li a{
		font-size:12px; 
		color:#5a5d64;
	}

	.introduce_box_right{
		width:232px;
		height: 218px;
		float: right;
	}
	.introduce_box_right a{
		display: block;
		width: 106px;
		height:23px;
		background-size: 106px 23px;
	}

	.introduce_box_right ul li{
		color:#5a5d64;
		font-size: 12px;
		line-height: 48px;
	}
	.introduce_box_right ul li:nth-child(1){
		margin-top: 14px;
	}
	.introduce_box_right ul li:nth-child(3){
		margin-bottom:13px;
	}
	.hide_box{
		width:164px;
		height: 192px;
		position: absolute;
		top:0px;
		right:140px;
		background: url(../img1/14.jpg);
		background-size:cover;
		display: none;
	}
 	
	.introduce_box_right2 .introduce_a{
		float: left;
		width:22px;
		height:16px;
		margin-right:10px;
		margin-top: 5px;
	}

/* bottom 底部 */
	.bottom_box{
		height:52px;
		padding-left:106px;
		padding-top: 26px;
	}
	.bottom_box p{
		font-size: 14px;
		color:#757575;
	}
